body{
      font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: black;
  color: white;
}
navigation li:hover {
  @apply  hover:text-red-600 hover:underline;
}
